.workflow_body {
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
}

.workflow_details {
    width: 50vw;
    height: 2.3rem;
    display: flex;
    align-items: center;
}

.workflow_value {
    width: 33%;
    height: 100%;
    background-color: rgb(20, 20, 255);
    color: white;
    font-size: 1.5rem;
    border: 1px solid white;
    padding: 5px;
}

.workflow_heading {
    font-size: 2rem;
    padding: 1rem;
    border: 1px solid rgb(144, 144, 255);
}

.loading_page {
    text-align: center;
    margin-top: 4rem;
}